<div id="navbar">
<div id="logo">
<div  style=" width:40%;height: 50px;float:left;display:block;"><img src="../../images/shopping-bag.png" style="width:100%;height:100%"/></div>
<div  style=" width:60%;height: 50px;float:left;display:block;text-align: left;overflow:visible;font-size: 120%;color:#ede2dc"><b>FashionBazaar</b></div>
</div>
<div id="menu">
<app-nav-item [item]="'Home'" routerLink='/home'></app-nav-item>
<app-nav-item [item]="'Products'" routerLink='/products'></app-nav-item>
<app-nav-item [item]="'Contact'" routerLink='/contact'></app-nav-item>
</div>

</div>
